// 分页
.page.text-right
	// 分页
	ul.pagination
		li.pages.previous.disabled
			a(href="")
				span 第一页
		li.pages.previous.disabled
			a(href="")
				span 上一页
		li.active
			a(href="") 
				span 1
		li.pages.next
			a(href="")
				span 下一页
		li.pages.next
			a(href="")
				span 末页