// 圈子列表页

extends _page.base

block main
	.container
			.jumbotron
				// 顶部横幅广告
				img.banner-top.img-thumbnail(src="")
			.circle-list
				.row
					.col-xs-3
						.circle-widget(style="position:relative;width:256px;height:400px;background-color:#efefef")
							img.circle-cover(src="",style="position:relative")
							span.badge(style="position:absolute;:10px;left:10px;") 官方
							button.btn.btn-default(style="position:absolute;bottom:10px;") 订阅
					.col-xs-3
						.circle-widget(style="position:relative;width:256px;height:400px;background-color:#efefef")
							img.circle-cover(src="",style="position:relative")
							span.badge(style="position:absolute;:10px;left:10px;") 官方
							button.btn.btn-default(style="position:absolute;bottom:10px;") 订阅
					.col-xs-3
						.circle-widget(style="position:relative;width:256px;height:400px;background-color:#efefef")
							img.circle-cover(src="",style="position:relative")
							span.badge(style="position:absolute;:10px;left:10px;") 官方
							button.btn.btn-default(style="position:absolute;bottom:10px;") 订阅
					.col-xs-3
						.circle-widget(style="position:relative;width:256px;height:400px;background-color:#efefef")
							img.circle-cover(src="",style="position:relative")
							span.badge(style="position:absolute;:10px;left:10px;") 官方
							button.btn.btn-default(style="position:absolute;bottom:10px;") 订阅
					.col-xs-3
						.circle-widget(style="position:relative;width:256px;height:400px;background-color:#efefef")
							img.circle-cover(src="",style="position:relative")
							span.badge(style="position:absolute;:10px;left:10px;") 官方
							button.btn.btn-default(style="position:absolute;bottom:10px;") 订阅
			.jumbotron(style="background-color:#ccc")
				// 底部
				h3 更多圈子，即将开放