// 圈子

extends _page.base

block main
	.container
		.row
			.col-xs-9
				block circle-cover
					.jumbotron
						img.circle-cover.banner.img-thumbnail(src="")
				block circle-project
					.circle-project
						.media
							.media-left
								span 征集中
							.media-body
								a(href="")
									h3.pj-title #高考恋爱100天#同人剧征集活动1
								p.pj-time 活动时间：2015/11/03-2015/11/30
								span.works-num 已投稿n部作品
								button.btn.btn-default 查看
								button.btn.btn-default.pull-right 我要参加
					.circle-project
						.media
							.media-left
								span 已结束
							.media-body
								a(href="")
									h3.pj-title #高考恋爱100天#同人剧征集活动2
								p.pj-time 活动时间：2015/11/03-2015/11/30
								span.works-num 已投稿n部作品
								button.btn.btn-default 查看
				block recd
					.row.recd
						h3 官方推荐
						.col-xs-4
							.work-img
								a(href="",title="")
									img.img-thumbnail(src="")
							.captions
								a(href="")
									h3.title.ellipsis 我的作品
								ul.data
									li.pull-left
										// 播放按钮
										a(href="")
											i.icon-play1
											span 222
									li.pull-right
										// 留言按钮
										a(href="")
											i.icon-play1
											span 333
						.col-xs-4
							.work-img
								a(href="",title="")
									img.img-thumbnail(src="")
							.captions
								a(href="")
									h3.title.ellipsis 我的作品
								ul.data
									li.pull-left
										// 播放按钮
										a(href="")
											i.icon-play1
											span 222
									li.pull-right
										// 留言按钮
										a(href="")
											i.icon-play1
											span 333
						.col-xs-4
							.work-img
								a(href="",title="")
									img.img-thumbnail(src="")
							.captions
								a(href="")
									h3.title.ellipsis 我的作品
								ul.data
									li.pull-left
										// 播放按钮
										a(href="")
											i.icon-play1
											span 222
									li.pull-right
										// 留言按钮
										a(href="")
											i.icon-play1
											span 333
			.col-xs-3
				.thumbnail
					ul
						li
							.badge 官方
						li
							h3 高恋100天
						li
							ul
								li
									a
										img.img-circle.user-img
								li
									a.user-name 用户名
								li
									i.icon
						li
							p.circle-desc 高考恋爱100天带我们回味了那段青春时光，你一定也有自己的故事，加入圈子可用高考恋爱100天官方授权游戏素材。
						li
							span 成员|
							span.meb-num 1233
						li
							a
								button.btn.btn-default 订阅
