// 查看我的粉丝

extends _page.works

block user-nav
	ul#myTab.user-nav.nav.nav-tabs.row.thumbnail
		// 个人中心导航
		li.col-xs-4
			a(href="#works",data-toggle="tab") 我的作品
		li.col-xs-4
			a(href="#collect",data-toggle="tab") 我的收藏
		li.col-xs-4
			a(href="#history",data-toggle="tab") 我的足迹
block features
	.row.fanslist
		.col-md-4.thumbnail
			img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-md-12
					.row
						.col-md-6
							a(href="#") 99999
							a(href="#") 关注
						.col-md-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-md-4.thumbnail
			img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-md-12
					.row
						.col-md-6
							a(href="#") 99999
							a(href="#") 关注
						.col-md-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-md-4.thumbnail
			img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-md-12
					.row
						.col-md-6
							a(href="#") 99999
							a(href="#") 关注
						.col-md-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-md-4.thumbnail
			img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-md-12
					.row
						.col-md-6
							a(href="#") 99999
							a(href="#") 关注
						.col-md-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注