// 找回密码

extends login-bind

block bind-head
	h3 找回密码
block bind-desc
	p 选择找回方式
block bind-btn
	.row
		.col-xs-6
			a.btn(href="")
				i.icon-mail
				span 通过邮箱找回
		.col-xs-6
			a.btn(href="")
				i.icon-mob
				span 通过手机找回