// 创作引导页

extends _page.base

block main
	.row
		.col-xs-6
			.online-editor
				h3 在线编辑器
				p.editor-desc 省去下载和安装的烦恼一键制作/发布不会编程也能创作
				a(href="")
					button.btn.btn-default 进入在线编辑器
				a(href="") 教程
		.col-xs-6
			.tab-editor
				h3 桌面编辑器
				p.editor-desc 结合大好AVG游戏引擎所制作的桌面版编辑器适用于专业游戏制作者/发烧友进行创作
				a(href="")
					button.btn.btn-default 查看

