// 搜索无结果页

extends _page.base

block main
	.container
		.search-none
			p 抱歉，没有找到“请问额请问请问”的相关视频。
			form.navbar-form.navbarleft(role="search")
				.from-groupe
					input.from-control(type="text",name="keywords",placeholder="")
					button.btn.btn-default
		.recd.col-md-12.hidden-xs.hidden-sm
			// 推荐
			i.icon-laba
			h3 为您推荐
			.row
				.col-xs-4
					.work-img
						a(href="",title="")
							img.img-thumbnail(src="")
					.captions
						a(href="")
							h3.title.ellipsis 我的作品
						ul.data
							li.pull-left
								// 播放按钮
								a(href="")
									i.icon-play1
									span 222
							li.pull-right
								// 留言按钮
								a(href="")
									i.icon-play1
									span 333
				.col-xs-4
					.work-img
						a(href="",title="")
							img.img-thumbnail(src="")
					.captions
						a(href="")
							h3.title.ellipsis 我的作品
						ul.data
							li.pull-left
								// 播放按钮
								a(href="")
									i.icon-play1
									span 222
							li.pull-right
								// 留言按钮
								a(href="")
									i.icon-play1
									span 333
				.col-xs-4
					.work-img
						a(href="",title="")
							img.img-thumbnail(src="")
					.captions
						a(href="")
							h3.title.ellipsis 我的作品
						ul.data
							li.pull-left
								// 播放按钮
								a(href="")
									i.icon-play1
									span 222
							li.pull-right
								// 留言按钮
								a(href="")
									i.icon-play1
									span 333
