//查看别人的关注列表页
extends user-show

block features
	// 我的关注列表
	.row.watchlist
		.col-xs-4.thumbnail
			a(href="")
				img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-xs-12
					.row
						.col-xs-6
							a(href="#") 99999
							a(href="#") 关注
						.col-xs-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-xs-4.thumbnail
			a(href="")
				img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-xs-12
					.row
						.col-xs-6
							a(href="#") 99999
							a(href="#") 关注
						.col-xs-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-xs-4.thumbnail
			a(href="")
				img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-xs-12
					.row
						.col-xs-6
							a(href="#") 99999
							a(href="#") 关注
						.col-xs-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
		.col-xs-4.thumbnail
			a(href="")
				img.user-img.img-circle
			span.user-name 用户名
			p 签名档
			block signin
				// 关注按钮
				.col-xs-12
					.row
						.col-xs-6
							a(href="#") 99999
							a(href="#") 关注
						.col-xs-6
							a(href="#") 99999
							a(href="#") 粉丝
					button.btn.btn-default.btn-lg.btn-block 关注
include _paging