// 列表页

extends _page.base

block main
	.container
			.jumbotron
				// 顶部横幅广告
				img.banner-top.img-thumbnail(src="")
			block screening
				// 作品列表页筛选栏
				.screening
					ul
						li
							span 类型：
							button.btn.btn-defaulr 全部
						li
							span 排序：
							form
								.radio
									label
										input(type="radio" name="screening" id="options1" value="recent" checked)
										span 最近
									label
										input(type="radio" name="screening" id="options2" value="early" checked)
										span 最早
			.all-works-column
				.row
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
					.col-xs-6.col-md-3
						.work-img
							a(href="",title="")
								img.img-thumbnail(src="")
						.captions
							a(href="")
								h3.title.ellipsis 我的作品
							ul.data
								li.pull-left
									// 播放按钮
									a(href="")
										i.icon-play1
										span 222
								li.pull-right
									// 留言按钮
									a(href="")
										i.icon-play1
										span 333
			.load-more
				span(style="display:none") 没有更多了~
				a.more-cont(href="")
					span 查看更多⊙.⊙
